@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Silkscreen&display=swap');
*{
    font-size: 1vmax;
    color: whitesmoke;
    /* font-family: 'Silkscreen', cursive; */
}
body{
    width: 98%;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}
#outer{
    margin-left: 6vmax;    
    /* display: block;
    justify-content: center;
    align-items: center; */
}
#left-body{
    width: 30vmax;
    margin-top: 3vmax;
    margin-right: 4vmax;
    float: left;
}
.links{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1vw;
}
.shadow{
    background-color: black;
    border: 0px solid black;
    border-radius: 4%;
    /* -moz-box-shadow:    19px 19px 19px 20px black;
    -webkit-box-shadow: 16px 8px 10px 14px black;
    box-shadow:         17px 18px 17px 19px black; */
}
.border-radius{
    border-radius: 4%;
}
#header{
    /* width: 70vmax;
    height: 2vmax;
    position: fixed;
    top: 0%; */
}

#right-body{
    margin-top: 5vmax;
    float: left;
}
#resume-details-scroll{
    height: 33.1vmax;
    overflow: auto;
    margin-bottom: 3vmax;
    padding: 10px;
}
#resume-details-scroll::-webkit-scrollbar{
    width: 10px;
}
#resume-details-scroll::-webkit-scrollbar-track {
    width: 10px;
    background: black;
    border-radius: 1vmax;
}
#resume-details-scroll::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 1vmax;
    width: 10px;
}
#objective-box{
    width: 49vmax;
}
.objective{
    font-size: 1.3vmax;
    text-align: justify; 
    text-indent: 5vmax; 
    line-height: 2.05;
}
#psnl-box{
    width: 50vmax;        
    height: 18vmax;
}
.sub-heading{
    color: #00FFFF;
    margin-bottom: 10px;
}
#psln-data{
    float: left;
}
tr{
    line-height: 4vmax;
    text-align: left;
}
th{
    font-size: 1.5vmax;
}
td{
    font-size: 1.3vmax;
    font-weight: bolder;
}
#divider{
    width: 4vmax;
}
.marking{
    padding: .50vw;
    font-size: 1.3vmax;
    padding-right: 2vmax;
    border-radius: 5px;
    margin-bottom: 5vmax;
    font-family: sans-serif;
    background-color: yellow;
    opacity: .6;
    color: black;
    font-weight: bolder;
}
#contact-data{ 
    margin-left: 3vmax;
    margin-bottom: 20px;
    float: left;
}
.fontsize{
    font-size: 1.2vmax;
    text-align: right;
}
#edu-box{
    float: none;
    width: 50vmax;
}
.educations{
    width: 21vmax;
    height: 14vmax;
    float: left;
    border: .1vmax solid whitesmoke;
    border-radius: 1vmax;
    margin: 1vmax;
    padding: .6vmax;
    background-image: url(black-bg1.jpeg);
    background-size: cover;
    text-align: left;
}
.scroll-box{
    width: 48vmax;    
    height: auto;
    overflow: scroll;
    overflow-y: hidden;
}
.scroll-box::-webkit-scrollbar{
    height: .8vmax;
}
.scroll-box::-webkit-scrollbar-track:hover {
    width: 10px;
    background: black;
    border-radius: 1vmax;
}
.scroll-box::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
    border-radius: 1vmax;
    width: 0px;
}
#edu-scroll{
    width: 70vmax;
}
.edu-line2{
    float: left; 
    width: 50%;
    
}
.edu-branch{
    font-style: italic;
    margin-left: 1vmax;
    font-size: .79vmax;
}
.edu-name{
    font-size: 1.5vmax;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1vmax;
}
.edu-institute{
    text-align: right;
    font-style: italic;
    font-size: .7vmax;
}

.cgpa-box{
    margin-top: .5vmax;
    margin-bottom: 1vmax;
    border-right: .1vmax solid #454545;
    float: left;
}
.marks-img{
    width: 6.5vmax;
    height: 6.5vmax;
    margin-left: -8vmax;
    margin-right: 2vmax;
    background-size: cover;
    border-radius: .5vmax;
    opacity: .7;
}
.bg1{
    background-image: url(cgpa.png);
}
.bg2{
    background-image: url(grade12.png);
}
.bg3{
    background-image: url(grade10.png);
}
.university-box{
    margin-left: 2.4vmax;
    margin-top: 1vmax;
    width: 5vmax;
    height: 5.8vmax;
    border-radius: 0px;
    float: left;
}
.img-ktu{
    border: .3vmax solid white;
    background-color: whitesmoke;
    border-radius: .8vmax;
}
.state-box{
    width: 6.1vmax;
    height: 6.1vmax;
    margin-left: 1.9vmax;
    margin-top: 1vmax;
    border-radius: 0px;
    float: left;
}
.grade-box{
    margin-top: .7vmax;
    border-right: 1px solid #454545;
    float: left;
}
#service-scroll{
    width: 97vmax;
}
#service-box{
    width: 15vmax;
    height: 15vmax;
    margin-top: 1vmax;
}
.services{
    width: 15vmax;
    height: 8vmax;
    float: left;
    border: .1vmax solid lightgray;
    border-radius: .8vmax;
    margin: .1vmax;
    margin-left: 1%;
    margin-top: 1vmax;
}
.b-r{
    border-radius: .8vmax;
}
#achievement-box{
    width: 48vmax;
    height: 15vmax;
}
#achievements{
    border: 1vmax solid whitesmoke; 
    padding: 1vmax;
    margin-left: 1vmax; 
    border: double;
}
#lang-box{
    width: 50vmax;
    height: 12vmax;
}
.lang{
    width: 22vmax;
    font-weight: 700;
    float: left;
    padding-left: .8vmax;
}
.font-lang{
    font-size: 1.2vmax;
}
#star-mal{
    width: 13vmax;
    height: 2.8vmax;
    margin-top: 1vmax;
    background-image: url(5_star.png);
    background-size: cover;
    margin-left: -.5vmax;
}
#star-eng{
    width: 13vmax;
    height: 2.8vmax;
    margin-top: 1vmax;
    background-image: url(4_star.png);
    background-size: cover;
    margin-left: -.5vmax;
}
#fun-box{
    padding-top: 1vmax;
    width: 50vmax;
    height: 18vmax;
}
.funs{
    width: 10vmax;
    height: 10vmax;
    float: left;
    border: .1vmax solid whitesmoke;
    border-radius: 100%;
    margin: 1%;
}
.b-c{
    border-radius: 100%;
}
.last-databox
{
    height: 34vmax;
}
#quote-box{
    padding-top: 1vmax;
    width: 50vmax;
}
#l-quote-symbol{
    margin-left: 1vmax;
}
#r-quote-symbol{
    margin-left: 78%;
}
#quotes{
    font-size: 1.7vmax;
    padding-left: 4.1vmax;
    padding-right: 5vmax;
    text-align: center;
    font-style: italic;
    margin-top: 2vmax;
}
#imagebox{
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    margin: 10px;
}
#footer{
    width: 100%;
    margin-top: 25px;
    margin-left: 1vmax;    
    /* padding-bottom: 3vmax; */
    float: left;
    position: relative;
    bottom: 0%;
}
.footer-link{
    border-radius: 1vmax;
    font-size: 15px;
    color: grey;
    margin-left: 65px;
}
.footer-link:hover{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
/* .footer-link:focus{
    background-color: white;
} */
