*{
    font-size: 1vw;
    color: whitesmoke;
    margin: 0%;
}
body{
    width: 98%;
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
    font-size: 1vw;
    margin: 0%;
}
.links{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: .9vw;
}
.shadow{
    background-color: black;
    border: 0px solid black;
    border-radius: 4%;
    -moz-box-shadow:    3px 3px 5px 6px black;
    -webkit-box-shadow: 3px 3px 5px 6px black;
    box-shadow:         3px 3px 5px 6px black;
}
.border-radius{
    border-radius: 4%;
}
#header{
    /* width: 70vmax;
    height: 2vmax;
    position: fixed;
    top: 0%; */
}
#left-body{
    position: sticky;
    top: 15%;
}
#resume-details{
    
}
#objective{
    width: 48vmax;
}
#psnl-box{
    width: 50vmax;        
    height: 16vmax;
}
.sub-heading{
    color: #00FFFF;
    margin-bottom: 10px;
    /* font-size: 150%; */
}
#psln-data{
    width: 20vmax;
    /* border-right: 2px solid #454545; */
    float: left;
    margin-right: 3vmax;
}
tr{
    line-height: 4vmax;
    text-align: left;
}
/* th{
    color: white;
} */
td{
    font-size: 1vmax;
}
#divider{
    width: 14vmax;
}
.marking{
    padding: .50vw;
    font-size: 1.2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 2.5vmax;
    border-radius: 5px;
    margin-bottom: 5vmax;
    font-weight: 900;
    background-color: yellow;
    opacity: .6;
    color: black;
}
#contact-data{ 
    width: 25vmax;
    margin-bottom: 20px;
    float: left;
}
.fontsize{
    font-size: 1vmax;
    text-align: right;
}
#edu-box{
    float: none;
    width: 50vmax;
}
.educations{
    width: 21vmax;
    height: 14vmax;
    float: left;
    border: .1vmax solid whitesmoke;
    border-radius: 1vmax;
    margin: 1vmax;
    padding: .6vmax;
    background-image: url(black-bg1.jpeg);
    background-size: cover;
    text-align: left;
}
.scroll-box{
    width: 48vmax;    
    height: auto;
    overflow: scroll;
    overflow-y: hidden;
}
.scroll-box::-webkit-scrollbar{
    height: .8vmax;
}
/* .scroll-box::-webkit-scrollbar-track {
    width: px;
    background: #f1f1f1;
} */
.scroll-box::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
    border-radius: 1vmax;
    width: 0px;
}
#edu-scroll{
    width: 70vmax;
}
.edu-line2{
    float: left; 
    width: 50%;
    
}
.edu-branch{
    font-style: italic;
    margin-left: 1vmax;
    font-size: .79vmax;
}
.edu-name{
    font-size: 1.5vmax;
    color: white;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1vmax;
}
.edu-institute{
    text-align: right;
    font-style: italic;
    font-size: .7vmax;
}

.cgpa-box{
    margin-top: .5vmax;
    margin-bottom: 1vmax;
    border-right: .1vmax solid #454545;
    float: left;
}
.marks-img{
    width: 6.5vmax;
    height: 6.5vmax;
    margin-left: -8vmax;
    margin-right: 2vmax;
    background-size: cover;
    border-radius: .5vmax;
    opacity: .7;
}
.bg1{
    background-image: url(cgpa.png);
}
.bg2{
    background-image: url(grade12.png);
}
.bg3{
    background-image: url(grade10.png);
}
.university-box{
    margin-left: 2.4vmax;
    margin-top: 1vmax;
    width: 5vmax;
    height: 5.8vmax;
    border-radius: 0px;
    float: left;
}
.img-ktu{
    border: .3vmax solid white;
    background-color: whitesmoke;
    border-radius: .8vmax;
}
.state-box{
    width: 6.1vmax;
    height: 6.1vmax;
    margin-left: 1.9vmax;
    margin-top: 1vmax;
    border-radius: 0px;
    float: left;
}
.grade-box{
    margin-top: .7vmax;
    border-right: 1px solid #454545;
    float: left;
}
#service-scroll{
    width: 97vmax;
}
#service-box{
    width: 10vmax;
    height: 15vmax;
    margin-top: 1vmax;
}
.services{
    width: 15vmax;
    height: 8vmax;
    float: left;
    border: .1vmax solid lightgray;
    border-radius: .8vmax;
    margin: .1vmax;
    margin-left: 1%;
    margin-top: 1vmax;
}
.b-r{
    border-radius: .8vmax;
}
#achievement-box{
    width: 48vmax;
    height: 15vmax;
}
#achievements{
    border: 1vmax solid whitesmoke; 
    padding: 1vmax;   ; 
    margin-left: 1vmax; 
    border: double;
}
#lang-box{
    width: 50vmax;
    height: 12vmax;
}
.lang{
    width: 22vmax;
    font-weight: 700;
    float: left;
}
.font-lang{
    font-size: 1.2vmax;
}
#star-mal{
    width: 13vmax;
    height: 2.8vmax;
    margin-top: 1vmax;
    background-image: url(5_star.png);
    background-size: cover;
    margin-left: -.5vmax;
}
#star-eng{
    width: 13vmax;
    height: 2.8vmax;
    margin-top: 1vmax;
    background-image: url(4_star.png);
    background-size: cover;
    margin-left: -.5vmax;
}
#fun-box{
    padding-top: 1vmax;
    width: 50vmax;
    height: 10vmax;
}
.funs{
    width: 10vmax;
    height: 10vmax;
    float: left;
    border: .1vmax solid whitesmoke;
    border-radius: 100%;
    margin: 1.1%;
}
.b-c{
    border-radius: 100%;
}
#quote-symbol{
    font-size: 4vmax;
    margin-left: 1vmax;
}
#quote-symbol1{
    font-size: 4vmax;
    margin-left: 90%;
}
#quotes{
    font-size: 1.25vmax;
    padding-left: 4.1vmax;
    padding-right: 5vmax;
    text-align: center;
    font-style: italic;
    margin-top: -2vmax;
}
#imagebox{
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 50px;
}
#footer{
    padding-bottom: 6vmax;
}
.footer-link{
    border-radius: 1vmax;
}
.footer-link:hover{
    background-color: black;
    border-radius: 1vmax;
    padding: .8vmax;
}